<div class="bg-light" *ngFor="let listing of listings">
    <h3>{{ listing.name }}</h3>
    <p>{{ listing.description }}</p>
    <p>${{ listing.price }}</p>
    <div class="btn-group" role='group'>
        <a routerLink="/edit-listing/{{ listing.id }}">
            <button class='btn btn-warning'>Edit</button>
        </a>
        <button (click)="onDeleteClicked(listing.id)" class='btn btn-danger'>Delete</button>
    </div>
</div>
<a routerLink="/new-listing"> <button class='btn btn-success'>Create new listing</button></a>